<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>This is the Weather Wizard Main Page</title>-->
<!--</head>-->
<!--<body>-->
<!--    <a href="/">Home</a>-->
<!--    <a href="/sales">Sales</a>-->
<!--    <a href="/images">Images</a>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
    <title>Folder Selection</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <label for="folder_input">Select a folder containing images:</label>
        <input type="file" id="folder_input" name="folder_input" webkitdirectory multiple>
        <input type="submit" value="Submit">
    </form>
</body>
</html>

